body{
    margin:0;
}
ul{
    position: fixed;
    background-image: linear-gradient(90deg,#cdffd8,#94b9ff);
    list-style-type: none;
    overflow:hidden;
    margin:0;
    width:100%;
    padding: 20px;
}
ul li{
    float: right;
    padding-right: 15px;
}
ul li a{
    text-decoration: none;
    color:black;
}
.grid{
    display: flex;
    align-items: center;
    padding:20px;
}
.grid-item{
    margin-top:80px;
    flex:1;
    margin-bottom: 80px;
    padding:20px;
    align-items:center;
}
a{
    text-decoration: none;
    color:black;
}
i{
    margin-right:10px;
}
.skills{
    margin-top:80px;
    margin-bottom: 80px;
    padding:30px;
    align-items:center;
    margin-right:20px;
    border-radius:20px;
    flex:1;
}
.ranger{
    height:5px;
    border:2px solid black;
    border-radius:30px;
}
.range{
    height:5px;
    background-color:#000000;
    border-radius:30px;
}
.extra-skills{
    background-image: linear-gradient(90deg,#cdffd8,#94b9ff);
    border-radius:20px;
    padding-top:1px;
}
.project{
    background-image: linear-gradient(90deg,#cdffd8,#94b9ff);
width:fit-content;
flex:1;
    border-radius:20px;
    padding:20px;
    align-items:center;
    margin-top:80px;
    margin-bottom: 120px;
}
.projects{
    display: flex;
    padding:10px;
}